@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px
}

body {
    box-sizing: border-box;
    padding: 3rem 3rem;
    font-family: sans-serif;

    @media screen and (max-width: $small) {
       padding: 0
    }
}

.container {
    background-image: linear-gradient(to right bottom, rgba(68, 127, 236,.4), rgb(3, 219, 252));
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center; // So child isn't stretched
    padding: 5rem;

    @media screen and (max-width: $small) {
        height: 100%;
     }
}
